/* 전체 설정 */
html{
    height:100vh;
    width: 100vw;
}
body{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template: auto 1fr auto/ auto;
    margin:0;
}
/* header */
header{
    grid-column: 1/-1;
    background-color: rgb(145, 57, 57);
    color:white;
}
header>h1{
    padding-left:1rem;
}
main{
    background-image: url(/librarybackground.jpg);
    background-size:cover;
    grid-column: 1/-1;
    display:grid;
    padding:1rem;
}
.card{
    background-color:white;
    height:550px;
    width:300px;
    border:1px solid black;
    border-radius:1rem;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:3rem;
    cursor:pointer;
}
/* footer */
footer{
    bottom:0;
    color:white;
    grid-row:-2/-1;
    background-color: black;
    display:flex;
    justify-content: center;
}